* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  color: white;
  font-family: main;
}

@font-face{
  font-family: "main";
  src: url(./Assets/fonts/IBM_Plex_Mono/IBMPlexMono-Regular.ttf);
}
@font-face{
  font-family: "high";
  src: url(./Assets/fonts/VT323/VT323-Regular.ttf);
}

:root{
  --main-color:teal;
  --sec-color:white;
  --bg-color:red;
}

.parent {
  width: 100vw;
  height: auto;
}

.header {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(0, 0, 0);
  padding: 0 40px;
  border: 2px solid teal;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  box-shadow: 0 0 50px 0px black;
  overflow: hidden;
}

.header > nav > ul {
  display: flex;
  gap: 50px;
}

.header > nav > ul > li {
  list-style: none;
}

.header > nav > ul > li > a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 700;
}

.header > nav > ul > li > a > img {
  background-color: teal;
  border-radius: 50%;
}

.header > .logo {
  font-size: 25px;
  font-weight: 900;
  /* background-color: antiquewhite; */
  cursor: pointer;
  position: relative;
  animation: rotate 2s ease infinite;
}

.logo::after {
  content: "";
  background: linear-gradient(to right, pink, red, rgb(123, 142, 122));
  width: 100%;
  height: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
  opacity: 0;
  transition: all 10s;
}

.logo:hover.logo::after {
  display: block;
  opacity: 1;
}

.home::after {
  content: "Home";
  position: absolute;
  top: 50px;
  right: 325px;
  color: whitesmoke;
  font-weight: 900;
  display: none;
  animation: up 1s ease forwards;
}

.home:hover.home::after {
  display: block;
}
.about:hover.about::after {
  display: block;
}
.course:hover.course::after {
  display: block;
}
.project:hover.project::after {
  display: block;
}
.contact:hover.contact::after {
  display: block;
}
.about::after {
  content: "About";
  position: absolute;
  top: 50px;
  right: 250px;
  color: w;
  font-weight: 900;
  display: none;
  animation: up 1s ease forwards;
}
.course::after {
  content: "Course";
  position: absolute;
  top: 50px;
  right: 172px;
  color: w;
  font-weight: 900;
  display: none;
  animation: up 1s ease forwards;
}
.project::after {
  content: "Project";
  position: absolute;
  top: 50px;
  right: 100px;
  color: w;
  font-weight: 900;
  display: none;
  animation: up 1s ease forwards;
}
.contact::after {
  content: "Contact";
  position: absolute;
  top: 50px;
  right: 22px;
  color: w;
  font-weight: 900;
  display: none;
  animation: up 1s ease forwards;
}

@keyframes up {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.more {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2px;
  display: none;
}


.body{
  width: 100%;
  height: 90vh;
  background-color: #333446;
  display: flex;
  background: url(./Assets/img/background.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.body::after{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.857);
}


.body > .me{
  width: 50%;
  height: 100%;
  border: 5px solid rgb(30, 24, 24);
  
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 4;

  transition: all 12s;
}

.me:hover{
  background: url(./Assets/img/banner.jpg);
  cursor: pointer;
  transition: all 12s;

  position: relative;
}

.me:hover::after{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #0000009f;

}

.me:hover>.rope{
  background-color: #00ff48;
}

.me:hover>.circle{
  width: 20px;
  height: 20px;

  background-color: rgb(255, 255, 255);
  border-radius: 50%;

  position: relative;
  top: 0;

  z-index: 3;
}

.me:hover>.pic{
  background-color: white;
  border:5px solid rgb(74, 64, 64);
  border-inline: none;
}

.rope{
  width: 50px;
  height: 250px;
  background-color: rgb(241, 14, 14);

  border-bottom-left-radius: 45px;
  border-bottom-right-radius: 45px;
  
}

.pic{
  width: 280px;
  height: 350px;

  background-color: #333446;
  border-radius: 5px;
  border:5px solid rgb(255, 255, 255);
  border-inline: none;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.pic > img{
  margin: 20px;
  filter: contrast(3);
  border: 5px solid black;
}

svg{
  fill: teal;
  width: 30px;
}

.name,.role{
  width:100%;
  font-size: 16px;
  background-color: aliceblue;
  color: #333446;
}
.name > span,.role>span{
  font-family: "high";
  color: var(--main-color);
}

.skills{
  display: flex;
}

.info{
  width: 50%;
  height: 100%;

  padding: 30px;
  z-index: 5;

  text-align: justify;

}

.info:hover{
  cursor: pointer;
  line-height: 50px;

  background-color: white;
  color: black;
}

.info:hover>.log{
  font-family: high;
  font-size: 25px;
}

.log{
  color: var(--main-color);
  font-weight: 900;

}








































@media (max-width: 550px) {
  nav > ul > li {
    display: none;
  }
  .more {
    display: block;
    gap: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2px;
  }
  .line {
    width: 20px;
    height: 3px;
    padding-bottom: 2px;
    background-color: black;
  }

  .more::after {
    content: "More";
    position: absolute;
    top: 50px;
    right: px;
    color: w;
    font-weight: 900;
    display: none;
    animation: up 1s ease forwards;
  }

  .more:hover.more::after {
    display: block;
  }



  
  @keyframes up{
    0%{
        opacity: 0;
        transform: translateY(-10px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
    
}
}
